
@mixin button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  transition: background-color 500ms;
  }

// Media Queries

@mixin mq($break-m) {
  @media (min-width: $break-m) {
      @content;
  }
}
